#login h1{
}
#login h1 a{
	background:none;
	color: black; 
	display:block;
	font-family: 'Source Sans Pro';
	font-weight: 700;
	padding-top: 20px; 
	width: auto; 
	height: auto; 
	text-indent: 0px;
	text-align: center;
	text-decoration: none;  
}
#login h1 a span{
    color: #00aeef; 
}
#login h1 a:hover{
	color: #333; 
}